.project-cover {
    background-position: center center;
    background-size: cover;
    height: 60vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
}
  
.project-name {
    text-align: center;
}

@media (min-width: 0px) { 
    .project-name {
        font-size: 10vw;
    }
 }

@media (min-width: 576px) { 
    .project-name {
        font-size: 8vw;
    }
 }

@media (min-width: 768px) { 
    .project-name {
        font-size: 7vw;
    }
 }

@media (min-width: 992px) { 
    .project-name {
        font-size: 6vw;
    }
 }

@media (min-width: 1200px) { 
    .project-name {
        font-size: 5vw;
    }
 }

@media (min-width: 1400px) { 
    .project-name {
        font-size: 4vw;
    }
 }