.about-cover {
  background: rgb(20,83,114);
  background: linear-gradient(287deg, rgba(20,83,114,1) 0%, rgba(10,27,78,1) 52%, rgba(0,15,38,1) 100%);
  background-size: cover;
    position: relative;
    height: 100vh;
  }

.about-cover-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.about-cover-title {
  background-color: #abcdef;
}

.about-language-image {
  width: 35px;
  height: 25px;
}

  header.maincover .bg-circle {
    z-index: 0;
    position: absolute;
    border-radius: 100%;
    background: linear-gradient(0deg, #ee0979 0%, #ff6a00 100%);
  }
  header.maincover .bg-circle-1 {
    height: 90rem;
    width: 90rem;
    bottom: -55rem;
    left: -55rem;
  }
  header.maincover .bg-circle-2 {
    height: 50rem;
    width: 50rem;
    top: -25rem;
    right: -25rem;
  }
  header.maincover .bg-circle-3 {
    height: 20rem;
    width: 20rem;
    bottom: -10rem;
    right: 5%;
  }
  header.maincover .bg-circle-4 {
    height: 30rem;
    width: 30rem;
    top: -5rem;
    right: 35%;
  }