<div class="container containerSections about-container">
  <div class="row">
    <div class="col-lg-8 col-12">
    <!--about -->
    <section class="left-section">
      <app-page-section sectionTitle="Hi, I'm Miriam Punzi!">
        <p>
          Born and raised in Mantova (Italy), I have been interested in technology since I was a child.
          For deepening my knowledge in that area, I chose a <a href="https://www.fermimn.edu.it/" target="_blank">High School in Computer Science</a>, where I learned how to develop software.
          I really enjoyed that, so I continued my studies in Computer Science at the <a href="https://offertaformativa.unitn.it/it/l/informatica" target="_blank">University of Trento</a>.
          
          <br>
          
          At the same time, I like to challenge myself with creative activities.
          So, I applied to a master's in Human-Computer Interaction and Design, in which I learned how to design interactive systems placing the user at the center of the process.
          Specifically, I applied to the <a href="https://masterschool.eitdigital.eu/human-computer-interaction-and-design" target="_blank">EIT Digital Master School</a>, a double-degree program performed in two different cities in Europe.
          I did my first year in Madrid (<a href="https://www.fi.upm.es/?pagina=2235" target="_blank">Politécnica de Madrid</a>) and my second in Paris (<a href="https://www.universite-paris-saclay.fr/en/education/master/computer-science/m2-human-computer-interaction" target="_blank">Université Paris-Saclay</a>).
          
          <br>
          
          I chose to study abroad because I wanted to expand my horizons and test myself in different contexts, with different languages.
          This experience has inspired me to always be curious and enthusiastic about meeting new people and exploring new cultures.
          
          <br>
          
          In the last few years, I've been interested in immersive environments.
          Thanks to the internship for my master thesis, in which I designed, developed, and tested the usability of a VR game, I realized that I want to continue in this field.
        </p>
      </app-page-section>
    </section>
    
    <!--education -->
    <section class="left-section">
      <app-page-section sectionTitle="Education">
        <ul class="about-education-timeline" style="margin-bottom: 0px;">
          <li class="about-education-point about-education-point-ups">
            <h5>Human-Computer Interaction and Design</h5>
            <p style="margin-bottom: 5px;"><a href="https://www.universite-paris-saclay.fr/en/education/master/computer-science/m2-human-computer-interaction" target="_blank">Université Paris-Saclay</a></p>           
            <small>September 2021</small>
          </li>
          <li class="about-education-point about-education-point-upm">
            <h5>Human-Computer Interaction and Design</h5>
            <p style="margin-bottom: 5px;"><a href="https://www.fi.upm.es/?pagina=2235" target="_blank">Universidad Politécnica de Madrid</a></p>           
            <small>June 2020</small>
          </li>
          <li class="about-education-point about-education-point-unitn">
            <h5>Bachelor Degree in Computer Science</h5>
            <p style="margin-bottom: 5px;"><a href="https://offertaformativa.unitn.it/it/l/informatica" target="_blank">Università degli studi di Trento</a></p>            
            <small>June 2019</small>
          </li>
          <li class="about-education-point about-education-point-itis">
            <h5>High School diploma in Computer Science</h5>
            <p style="margin-bottom: 5px;"><a href="https://www.fermimn.edu.it/" target="_blank">ITIS E. Fermi di Mantova</a></p>          
            <small>June 2016</small>
          </li>
        </ul>
      </app-page-section>
    </section>

    <!--experience -->
    <section class="left-section">
      <app-page-section sectionTitle="Experience">
        <ul class="about-list" *ngFor="let e of experience; index as i">
          <app-experience-card [index]="i"></app-experience-card>
        </ul>
      </app-page-section>
    </section>
  </div>

    <div class="col">
      <!--skills -->
      <section class="right-section">
        <app-page-section sectionTitle="Skills"></app-page-section>

        <div *ngFor="let s of skills; index as i">
          <app-page-section sectionSubsubtitle={{s.category}}>
            <app-skill-card [i]="i"></app-skill-card>
          </app-page-section>
        </div>
      </section>

      <!--language-->
      <section class="right-section">
        <app-page-section sectionTitle="Languages">
        </app-page-section>

        <app-page-section sectionSubsubtitle="My mother tongue is">
          <ul class="list-unstyled">
            <li class="about-language-row">
              <img class="about-language-image" src="assets/images/languages/italian.png"> Italian
            </li>
          </ul>
        </app-page-section>

        <app-page-section sectionSubsubtitle="While I was studying around Europe, I had the occasion to">
          <ul class="about-list">
            <li class="about-language-icon about-language-english">
              <img>Improve my English communication skills!
            </li>
            <li class="about-language-icon about-language-spanish">
              ¡Aprender a hablar fluidamente español!
            </li>
            <li class="about-language-icon about-language-french">
              Commencer à parler un peu de français !
            </li>
          </ul>
        </app-page-section>
      </section>

      <!--hobby -->
      <section class="right-section">
        <app-page-section sectionTitle="Hobbies"></app-page-section>

        <app-page-section sectionSubsubtitle="When I'm not in front of a computer, I...">
          <div class="row row-cols-2 row-cols-lg-3 row-cols-xl-4">      
            <app-hobby-card imagePath="assets/images/hobbies/piano.jpg" description="Play piano"></app-hobby-card>
            <app-hobby-card imagePath="assets/images/hobbies/cooking.jpg" description="Cook"></app-hobby-card>
            <app-hobby-card imagePath="assets/images/hobbies/travel.jpg" description="Travel"></app-hobby-card>
          </div>
          </app-page-section>
      </section>
    </div>
  </div>
</div>