.project-card {
  padding: 20px;
  border-radius: var(--radius-md);

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.project-card:hover {
  transform: translateY(-2px);
  box-shadow: 0 0px 15px #ffffff;
}

@media (min-width: 576px) {
  .project-card {
    height: 480px;
  }
}

@media (min-width: 768px) {
  .project-card {
    height: 460px;
  }
}

@media (min-width: 992px) {
  .project-card {
    height: 440px;
  }
}

@media (min-width: 1200px) {
  .project-card {
    height: 480px;
  }
}

@media (min-width: 1400px) {
  .project-card {
    height: 430px;
  }
}

.project-keyboards {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 3px;
  margin-bottom: 8px;
}

.preview {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  isolation: isolate;

  position: relative;

  margin-bottom: 20px;
}

.play-button {
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  position: absolute;
  width: 60px;
  height: 60px;
  left: calc(50% - 30px);
  top: calc(50% - 30px);

  background: var(--color-primary);
  border: 2px solid var(--icon);
  border-radius: var(--radius-pill);

  flex: none;
  order: 1;
  flex-grow: 0;
  z-index: 2;

  transition: color 0.1s ease, background-color 0.1s ease;
}

.play-button:hover {
  background-color: var(--color-primary-dark);
}

.video {
  position: absolute;
  left: 0px;
  top: 0px;

  width: 100%;
  height: 100%;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.image {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
}

iframe,
img {
  width: 100%;
  height: 100%;
  border-radius: var(--radius-md);
}
