.project-card {
    background: var(--section);
    border: 2px solid var(--border);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);

    height: 400px;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 3px 26px 0 rgba(0,0,0,0.20);
}

img {
    margin-bottom: 10px;
}

.project-link {
    color: var(--text);
    text-decoration: none;
}