<li>
  <div class="card experience-card">
    <div class="card-body">
      <div class="row">
        <div class="col-1 experience-logo-div">
          <img class="experience-logo" [src]="experience[index].icon">
        </div>
        <div class="col">
          <h5 class="card-title">{{experience[index].jobTitle}} @ <a [href]="experience[index].url" target="_blank">{{experience[index].company}}</a></h5>
          <h6 class="card-subtitle mb-2 text-muted">{{experience[index].period}}</h6>
        </div>
      </div>
      <p class="card-text">{{experience[index].description}}</p>
    </div>
  </div>
</li>


