.experience-card {
    border: none;
}

.experience-logo-div {
    /* padding: 0px !important; */
    
}

.experience-logo {
    width: 60px;
    object-fit: cover;
    border: 1px solid rgb(182, 182, 182);
    border-radius: 5px;
    padding: 5px;
}