.experience-card {
    border: none;
}

.experience-icon {
    padding-left: 80px;
    background-repeat: no-repeat;
    background-position: left top;
    background-position-y: 5px;
    background-size: 60px;
    margin-bottom: 8px;
  }

.experience-logo {
    width: 60px;
    object-fit: cover;
    border: 1px solid rgb(182, 182, 182);
    border-radius: 5px;
    padding: 5px;
}