<div class="container-fluid page-info-card">
    <div class="container">
        <div class="row page-info-row">
            <div class="col">
                <ul>
                    <li>
                        <label class="label-strong">About</label>:<br>
                        {{project[0].about}}
                    </li>
                    <li>
                        <label class="label-strong">What</label>:
                        {{project[0].what}}
                    </li>
                    <li>
                        <label class="label-strong">Where</label>: <a href="https://www.event-lab.org/" target="_blank">{{project[0].where}}</a>
                        
                    </li>
                    <li>
                        <label class="label-strong">Duration</label>: {{project[0].duration}}    
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>
