<section>
    <div class="row">
        <div class="col-12 col-lg-8">
            <app-page-section sectionTitle="About">
                {{project[0].about}}
            </app-page-section>
        </div>
        <div class="col page-info-extra">
            <ul class="info-list">
                <li class="info-list-what">{{project[0].what}}</li>
                <li class="info-list-where"><a href="https://www.event-lab.org/" target="_blank">{{project[0].where}}</a></li>
                <li class="info-list-duration">{{project[0].duration}}</li>
                <li class="info-list-publication">publication</li>
                <li class="info-list-tools">tools</li>
            </ul>
        </div>
    </div>
    <!-- <div >
        video
    </div> -->
</section>