<footer data-bs-theme="dark" class="text-center text-lg-start footer-background text-muted">
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <div class="me-5 d-none d-lg-block">
      <span>Made with ❤️ and ☕️</span>
    </div>
    
    <div>
      <a href="mailto:mpunzi97@gmail.com" class="me-4 link-light link-body-emphasis" target="_blank">
        <i class="bi bi-envelope-fill"></i>
      </a>
      <a href="https://www.linkedin.com/in/miriampunzi/" class="me-4 link-light link-body-emphasis" target="_blank">
        <i class="bi bi-linkedin"></i>
      </a>
      <a href="https://github.com/miriampunzi" class="me-4 link-light link-body-emphasis" target="_blank">
        <i class="bi bi-github"></i>
      </a>        
    </div>
  </section>
</footer>