<app-project-cover
  title="The Perfect Jeans"
  image="assets/images/project-covers/Cover Jeans.png"
>
</app-project-cover>

<div class="container">
  <app-info-section projectName="jeans"></app-info-section>

  <!-- Problem -->
  <div class="row justify-content-center">
    <div class="col-xl-10">
      <div class="portfolio-section portfolio-section-background">
        <app-page-section sectionTitle="Problem">
          <p>
            Shopping for jeans and other form-fitting apparel online could be
            time-consuming and frustrating. It's hard to compare between
            different styles, and it's hard to know for sure how they will fit.
            It's a disappointing experience when you have to return an item that
            doesn't fit quite right. How can you help customers select the style
            of jeans that they’re looking for in the right size?
          </p>

          From:
          <a href="https://www.uxchallenge.co/" target="_blank"
            >uxchallenge.co</a
          >
        </app-page-section>
      </div>
    </div>
  </div>

  <!-- User Research & Insights -->
  <div class="row justify-content-center">
    <div class="col-xl-10">
      <div class="portfolio-section portfolio-section-background">
        <app-page-section sectionTitle="User Research & Insights">
          Conducted open-ended interviews with 6 users (3 men, 3 women) to
          understand their online jeans shopping behavior.
          <ul>
            <li>
              Only 1 user successfully bought jeans online. All the others avoid
              this experience due to fear of poor fit, they prefer to try them
              in-store.
            </li>
            <li>
              A user mentioned the problem of size inconsistency across brands.
            </li>
            <li>
              5 users answered they would be interested in using an avatar to
              preview the fit, even if they were unsure about its accuracy.
            </li>
          </ul>

          <label class="label-strong">Insights</label>: users need a more
          visual, personalized, and trustworthy way to evaluate jeans fit
          online.
        </app-page-section>
      </div>
    </div>
  </div>

  <!-- Solution -->
  <div class="row justify-content-center">
    <div class="col-xl-10">
      <div class="portfolio-section portfolio-section-background">
        <app-page-section sectionTitle="Solution">
          <p>
          Application that helps users discover and select jeans that fit their
          unique body shape, while also providing expert advice and trend
          insights. The app aggregates jeans from multiple online providers,
          offering a personalized, educational, and confidence-boosting shopping
          experience.
          </p>

          Try the
          <a
            href="https://www.figma.com/proto/RzIcWEkpXik6FnJfH0wDsv/The-Perfect-Jeans?page-id=76%3A1065&node-id=48-586&p=f&viewport=1570%2C-4555%2C0.43&t=0DAcdKWIOxCIjLxa-1&scaling=scale-down&content-scaling=fixed&starting-point-node-id=48%3A586&show-proto-sidebar=1"
            target="_blank"
            >interactive prototype</a
          >

          or explore the

          <a
            href="https://www.figma.com/design/RzIcWEkpXik6FnJfH0wDsv/Untitled?node-id=76-1065&t=B2lrEITn6u8zh3qT-1"
            target="_blank"
            >project on Figma</a
          >
        </app-page-section>

        <app-page-section sectionSubtitle="Home">
          <div class="row row-cols-2 row-cols-md-4 g-4">
            <div class="col">
              <img
                class="img-fluid"
                src="assets/images/Projects/jeans/Explore.png"
              />
            </div>
            <div class="col">
              <img
                class="img-fluid"
                src="assets/images/Projects/jeans/Explore_advices.png"
              />
            </div>
            <div class="col">
              <img
                class="img-fluid"
                src="assets/images/Projects/jeans/ExpertAdvices.png"
              />
            </div>
          </div>

          <ul class="mt-4">
            <li>
              A discovery hub where users can explore new jeans, follow current
              trends, and read expert advice from image consultants.
            </li>
            <li>
              Educational content explains body shapes, jeans types, and how
              center of gravity affects fit.
            </li>
          </ul>

          <div class="row row-cols-2 row-cols-md-4 g-4">
            <div class="col">
              <img
                class="img-fluid"
                src="assets/images/Projects/jeans/Wear-01.png"
              />
            </div>
            <div class="col">
              <img
                class="img-fluid"
                src="assets/images/Projects/jeans/Wear-01_scrolled.png"
              />
            </div>
            <div class="col">
              <img
                class="img-fluid"
                src="assets/images/Projects/jeans/Wear-02.png"
              />
            </div>
            <div class="col">
              <img
                class="img-fluid"
                src="assets/images/Projects/jeans/Wear-03.png"
              />
            </div>
          </div>

          <ul class="mt-4">
            <li>
              The user can visualize all the details related with a pair of
              jeans, including the bodyshapes that fit best
            </li>
            <li>
              Embodiment with a personalized avatar allows users to visualize
              how jeans will fit their body, highlighting areas that may feel
              tight or loose.
            </li>
          </ul>
        </app-page-section>

        <app-page-section sectionSubtitle="Profile">
          <div class="row row-cols-2 row-cols-md-4 g-4">
            <div class="col">
              <img
                class="img-fluid"
                src="assets/images/Projects/jeans/Profile.png"
              />
            </div>
            <div class="col">
              <img
                class="img-fluid"
                src="assets/images/Projects/jeans/Avatar-01.png"
              />
            </div>
            <div class="col">
              <img
                class="img-fluid"
                src="assets/images/Projects/jeans/Avatar-02.png"
              />
            </div>
          </div>

          <ul class="mt-4">
            <li>
              Users can set up their profile customizing their avatar, their
              measurements, their style, and handle their account
            </li>
            <li>
              The bodyshape and center of gravity are calculated based on the
              measurements provided
            </li>
          </ul>

          <div class="row row-cols-2 row-cols-md-4 g-4">
            <div class="col">
              <img
                class="img-fluid"
                src="assets/images/Projects/jeans/Measurements-01.png"
              />
            </div>
            <div class="col">
              <img
                class="img-fluid"
                src="assets/images/Projects/jeans/Measurements-02.png"
              />
            </div>
            <div class="col">
              <img
                class="img-fluid"
                src="assets/images/Projects/jeans/Measurements-03.png"
              />
            </div>
            <div class="col">
              <img
                class="img-fluid"
                src="assets/images/Projects/jeans/Measurements-04.png"
              />
            </div>
          </div>

          <ul class="mt-4">
            <li>Measurement insertion using breadcrumbs UX principle</li>
          </ul>

          <div class="row row-cols-2 row-cols-md-4 g-4">
            <div class="col">
              <img
                class="img-fluid"
                src="assets/images/Projects/jeans/YourBodyshape-01.png"
              />
            </div>
            <div class="col">
              <img
                class="img-fluid"
                src="assets/images/Projects/jeans/YourBodyshape-02.png"
              />
            </div>
            <div class="col">
              <img
                class="img-fluid"
                src="assets/images/Projects/jeans/YourStyle.png"
              />
            </div>
            <div class="col">
              <img
                class="img-fluid"
                src="assets/images/Projects/jeans/YourStyle_selected.png"
              />
            </div>
          </div>

          <ul class="mt-4">
            <li>
              As part of a confidence-boosting experience, users are shown
              celebrities with similar body shapes and statistics about their
              body type
            </li>
            <li>
              Users can select their style preferences, which will be used to
              personalize the jeans recommendations.
            </li>
          </ul>
        </app-page-section>

        <app-page-section sectionSubtitle="Search">
          <div class="row row-cols-2 row-cols-md-4 g-4">
            <div class="col">
              <img
                class="img-fluid"
                src="assets/images/Projects/jeans/Search.png"
              />
            </div>
            <div class="col">
              <img
                class="img-fluid"
                src="assets/images/Projects/jeans/Search_scrolled.png"
              />
            </div>
            <div class="col">
              <img
                class="img-fluid"
                src="assets/images/Projects/jeans/SearchBrand.png"
              />
            </div>
          </div>

          <ul class="mt-4">
            <li>
              Targeted search experience that allows users to filter jeans by
              type (e.g., skinny, cropped, high-waist), brand, or body shape.
            </li>
          </ul>
        </app-page-section>

        <app-page-section sectionSubtitle="My Jeans">
          <div class="row row-cols-2 row-cols-md-4 g-4">
            <div class="col">
              <img
                class="img-fluid"
                src="assets/images/Projects/jeans/Cart.png"
              />
            </div>
            <div class="col">
              <img
                class="img-fluid"
                src="assets/images/Projects/jeans/WishList.png"
              />
            </div>
          </div>

          <ul class="mt-4">
            <li>
              A personal space where users can save their favorite jeans to a
              wishlist or cart.
            </li>
            <li>
              When ready, they're directed to the provider's platform to
              complete the purchase.
            </li>
          </ul>
        </app-page-section>
      </div>
    </div>
  </div>

  <!-- Navigation Map -->
  <div class="row justify-content-center">
    <div class="col-xl-10">
      <div class="portfolio-section portfolio-section-background">
        <app-page-section sectionSubtitle="Navigation Map">
          <div class="row mb-4">
            <div class="col">
              <img
                class="img-fluid"
                src="assets/images/Projects/jeans/navmap.png"
              />
            </div>
          </div>
        </app-page-section>
      </div>
    </div>
  </div>

  <!-- Sketches -->
  <div class="row justify-content-center">
    <div class="col-xl-10">
      <div class="portfolio-section portfolio-section-background">
        <app-page-section sectionTitle="Sketches">
          <div class="row row-cols-2 row-cols-md-4 g-4">
            <div class="col">
              <img
                class="img-fluid"
                src="assets/images/Projects/jeans/Sketches/Profile-01.png"
              />
            </div>
            <div class="col">
              <img
                class="img-fluid"
                src="assets/images/Projects/jeans/Sketches/Profile-02.png"
              />
            </div>
            <div class="col">
              <img
                class="img-fluid"
                src="assets/images/Projects/jeans/Sketches/Profile-03.png"
              />
            </div>
            <div class="col">
              <img
                class="img-fluid"
                src="assets/images/Projects/jeans/Sketches/Profile-04.png"
              />
            </div>
            <div class="col">
              <img
                class="img-fluid"
                src="assets/images/Projects/jeans/Sketches/Profile-05.png"
              />
            </div>
            <div class="col">
              <img
                class="img-fluid"
                src="assets/images/Projects/jeans/Sketches/MyJeans.png"
              />
            </div>
            <div class="col">
              <img
                class="img-fluid"
                src="assets/images/Projects/jeans/Sketches/Search.png"
              />
            </div>
            <div class="col">
              <img
                class="img-fluid"
                src="assets/images/Projects/jeans/Sketches/Explore-01.png"
              />
            </div>
            <div class="col">
              <img
                class="img-fluid"
                src="assets/images/Projects/jeans/Sketches/Explore-02.png"
              />
            </div>
            <div class="col">
              <img
                class="img-fluid"
                src="assets/images/Projects/jeans/Sketches/Explore-03.png"
              />
            </div>
          </div>
        </app-page-section>
      </div>
    </div>
  </div>

  <!-- Mood Board -->
  <div class="row justify-content-center">
    <div class="col-xl-10">
      <div class="portfolio-section portfolio-section-background">
        <app-page-section sectionTitle="Mood Board">
          <div class="row mb-4">
            <div class="col">
              <img
                class="img-fluid"
                style="background-color: white"
                src="assets/images/Projects/jeans/moodboard.png"
              />
            </div>
          </div>

          Pop Art visual style:
          <ul>
            <li>Inspired by bold colors and graphic contrasts.</li>
            <li>
              Connects to the 1960s, when jeans became popular as a fashionable
              item.
            </li>
            <li>
              Creative challenge: stepping away from typical fashion app
              aesthetics. I wanted to explore a more distinctive visual
              language.
            </li>
          </ul>
        </app-page-section>
      </div>
    </div>
  </div>
</div>
