<app-project-cover
  title="My humble Portfolio"
  image="assets/images/project-covers/Cover Portfolio.png"
></app-project-cover>

<div class="container">
  <app-info-section projectName="portfolio"></app-info-section>

  <!-- Version 1 -->
  <div class="row justify-content-center">
    <div class="col-xl-10">
      <div class="portfolio-section portfolio-section-background">
        <app-page-section sectionTitle="Version 1">
          <p>
            The very first version of this portfolio was built using
            <a
              href="https://sites.google.com/view/miriampunzi/home"
              target="_blank"
              >Google Sites</a
            >. I needed a quick and easy solution to start showcasing my
            projects.
          </p>
          <div class="row g-4">
            <div class="col d-flex flex-column justify-content-center">
              <img
                class="img-fluid mb-2"
                src="assets/images/Projects/portfolio/Home_v1.png"
              />
            </div>
            <div class="col d-flex flex-column justify-content-center">
              <img
                class="img-fluid mb-2"
                style="width: 100%"
                src="assets/images/Projects/portfolio/About_v1.png"
              />
            </div>
          </div>
          <div class="row g-4">
            <div class="col-6 d-flex flex-column justify-content-center">
              <img
                class="img-fluid mb-2"
                src="assets/images/Projects/portfolio/Project_v1.png"
              />
            </div>
          </div>
        </app-page-section>
      </div>
    </div>
  </div>

  <!-- Version 2 -->
  <div class="row justify-content-center">
    <div class="col-xl-10">
      <div class="portfolio-section portfolio-section-background">
        <app-page-section sectionTitle="Version 2">
          <p>
            For the second version, I wanted to showcase my programming skills
            by building a custom website. Creating my own portfolio allowed me
            to overcome the limitations of Google Sites and have full control
            over design and functionality.
          </p>

          <div class="row g-4">
            <div class="col d-flex flex-column">
              <img
                class="img-fluid mb-2"
                src="assets/images/Projects/portfolio/Home_v2.png"
              />
            </div>
            <div class="col d-flex flex-column">
              <img
                class="img-fluid mb-2"
                style="width: 100%"
                src="assets/images/Projects/portfolio/Project_v2.png"
              />
            </div>
          </div>
        </app-page-section>
      </div>
    </div>
  </div>

  <!-- Current Version -->
  <div class="row justify-content-center">
    <div class="col-xl-10">
      <div class="portfolio-section portfolio-section-background">
        <app-page-section sectionTitle="Current Version">
          For the third version, I wanted a more personalized design. After
          having a color analysis session with an image consultant, I changed
          the design using colors of the palette that complements my natural
          tones.
        </app-page-section>
        <app-page-section sectionSubtitle="Mood Board">
          <img
            class="img-fluid mb-2"
            src="assets/images/Projects/portfolio/Mood board.png"
          />
        </app-page-section>
      </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-xl-10">
      <div class="portfolio-section portfolio-section-background">
        <app-page-section
          sectionTitle="Design System"
          sectionSubtitle="Typography"
        >
          <img
            class="img-fluid mb-2"
            src="assets/images/Projects/portfolio/Typography.png"
          />
        </app-page-section>
        <app-page-section sectionSubtitle="Colors">
          <img
            class="img-fluid mb-2"
            style="width: 100%"
            src="assets/images/Projects/portfolio/Colors.png"
          />
        </app-page-section>
        <app-page-section sectionSubtitle="Color overlap">
          <img
            class="img-fluid mb-2"
            src="assets/images/Projects/portfolio/Color overlap.png"
          />
        </app-page-section>
        <app-page-section sectionSubtitle="Spacing">
          <img
            class="img-fluid mb-2"
            src="assets/images/Projects/portfolio/Spacing.png"
          />
        </app-page-section>
        <app-page-section sectionSubtitle="Radius">
          <img
            class="img-fluid mb-2"
            src="assets/images/Projects/portfolio/Radius.png"
          />
        </app-page-section>
        <app-page-section sectionSubtitle="Icons">
          <img
            class="img-fluid mb-2"
            src="assets/images/Projects/portfolio/Icons.png"
          />
        </app-page-section>
        <app-page-section sectionSubtitle="Grid">
          <img
            class="img-fluid mb-2"
            src="assets/images/Projects/portfolio/Grid.png"
          />
        </app-page-section>
      </div>
    </div>
  </div>

  <!-- Figma Components -->
  <div class="row justify-content-center">
    <div class="col-xl-10">
      <div class="portfolio-section portfolio-section-background">
        <app-page-section sectionTitle="Figma Components">
          <img
            class="img-fluid mb-2"
            src="assets/images/Projects/portfolio/Components.png"
          />
        </app-page-section>
      </div>
    </div>
  </div>
</div>
