@import '~bootstrap-icons/font/bootstrap-icons.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Poppins:wght@500;600&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css");


:root {
    --background: #FFFFFF;
    --section: #eaf3ff;
    --navbar: #0A2342;
    --footer: #0A2342;
    --info: #f4f4f4;
    --grey: rgb(163, 171, 181);

    --text: black;
    --textTitle: #0A2342;
    --textSubtitle: #0A2342;
    --textCaption: #f4f4f4;
}

body {
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-size: 1rem;

	background: rgb(0,0,0);
	background: linear-gradient(0deg, #EE0979 0%, #ff6a00 100%);

	background-size: 100%;
	background-repeat: no-repeat;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.containerSections {
    padding: 0px;
}

.list-no-margin {
    margin-bottom: 0px;
    padding-bottom: 0px;
}

section {
    background-color: var(--background);
	margin: 30px 8%;
	padding: 30px;
	border-radius: 20px;
	box-shadow: 0 3px 26px 0 rgba(0,0,0,0.20);
}

.left-section {
    margin-right: 6px !important;
}

.right-section {
    margin-left: 6px !important;
}

@media (max-width: 768px) { 
    .right-section {
        margin-right: 0px !important;
        margin-top: 0px;
    }

    .right-section {
        margin-left: 0px !important;
    }

    section {
        margin: 8% 0px;
    }
}

.label-strong {
    font-weight: 800;
    display: contents;
}

.col-page-section {
    padding-left: 0px;
}