@import '~bootstrap-icons/font/bootstrap-icons.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Poppins:wght@500;600&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css");

:root {
    --background: black;
    --section: #222222;
    --navbar: #222222;
    --footer: #222222;
    --info: #444444;

    --text: white;
    --textTitle: #0086FF;
    --textSubtitle: #0086FF;
    --textCaption: #f4f4f4;
    --textLink: #80C3FF;
}

body {
    font-family: "Inter", sans-serif;
    font-weight: 300;

    background: var(--background);
    background-repeat: no-repeat;

    color: var(--text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

a {
    color: var(--textLink);
    text-decoration: none;
}

a:hover {
    color: var(--textTitle);
}

::selection {
    background-color: var(--textLink);
    color: var(--background);
}

.list-no-margin {
    margin-bottom: 0px;
    padding-bottom: 0px;
}

section {
    background-color: var(--section);
    margin-top: 30px;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 3px 26px 0 rgba(0, 0, 0, 0.20);
}

.left-section {
    margin-right: 6px !important;
}

.right-section {
    margin-left: 6px !important;
}

@media (max-width: 768px) {
    .right-section {
        margin-right: 0px !important;
        margin-top: 0px;
    }

    .right-section {
        margin-left: 0px !important;
    }

    section {
        margin: 8% 0px;
    }
}

.label-strong {
    font-weight: 800;
    display: contents;
}

.big-number {
    font-family: 'impact';
    font-size: 38px;
    display: flex;
    justify-content: center;
}