<header class="header-maincover text-white">
  <div class="home-container">
    <div class="container">
      <div class="header-name-div">
        <h1 class="header-name">Hello,</h1>
        <h1 class="header-name">I'm Miriam!</h1>
      </div>
      
      <div class="header-position-div">
        <h3 class="header-position">
          <i class="bi bi-suitcase-lg-fill header-icon"></i>XR Software Engineer @ <a class="text-white" href="https://www.txtgroup.com/" target="_blank">TXT E-Tech</a>
        </h3>
        <h3 class="header-position">
          <i class="bi bi-pin-map-fill header-icon"></i>Milan (Italy)
        </h3>
      </div>
    </div>
  </div>
 </header>

<div class="section-title">
  <div class="container">
    <h1>Check out some of my work!</h1>
  </div>
</div>

<div class="home-container" id="scroll">
  <div class="container">
    <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g-4" style="margin-top: 10px; margin-bottom: 50px;">
      <div *ngFor="let cover of coverProjects; index as i">
        <div class="col">
          <app-project-card [index]="i"></app-project-card>
        </div>
      </div>
    </div>
  </div>
</div>