.header-maincover {
  position: relative;
  background-image: url('../../assets/images/project-covers/Cover Main.jpg');
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
  height: 100vh;
}