.header-maincover {
  background-image: url('../../assets/images/project-covers/Cover Main.jpg');
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
  position: relative;
  padding: 50px 0px 50px 0px;
}

.header-content {
  
}

.header-name {
  text-align: left;
}

.header-name-div {
  margin-bottom: 100px;
}

.header-position {
  text-align: right;
}

.header-position-div {
  display: block;
}

.header-icon {
  margin-right: 10px;;
}

@media (min-width: 0px) { 
  .header-name {
      font-size: 10vw;
  }
}

@media (min-width: 576px) { 
  .header-name {
      font-size: 8vw;
  }
}

@media (min-width: 768px) { 
  .header-name {
      font-size: 7vw;
  }
}

@media (min-width: 992px) { 
  .header-name {
      font-size: 6vw;
  }
}

@media (min-width: 1200px) { 
  .header-name {
      font-size: 5vw;
  }
}

@media (min-width: 1400px) { 
  .header-name {
      font-size: 4vw;
  }
}