<app-navbar></app-navbar>

<header class="header-maincover text-center text-white">
  <div>
    <h1>Hello, I'm Miriam!</h1>
    <h2>
      Currently XR Software Engineer @<a href="https://www.txtgroup.com/" target="_blank">TXT E-Tech</a>, in Milan (Italy)
    </h2>
    <a class="btn btn-primary btn-xl rounded-pill mt-5" href="#scroll">Check out some of my work!</a>
  </div>
</header>

<div class="section-title">
  <div class="container">
    <h1>Check out some of my work!</h1>
  </div>
</div>

<div class="container fluid" id="scroll">
  <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g-4" style="margin-top: 10px; margin-bottom: 50px;">
    <div *ngFor="let cover of coverProjects; index as i">
      <div class="col">
        <app-project-card [index]="i"></app-project-card>
      </div>
    </div>
  </div>
</div>